<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @hour.employee_id %>
</p>

<p>
  <b>Task:</b>
  <%= @hour.task_id %>
</p>

<p>
  <b>Time:</b>
  <%= @hour.time %>
</p>


<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
