<h1>Listing bills</h1>

<table>
  <tr>
    <th>Billee</th>
    <th>Total</th>
    <th>Ordered</th>
    <th>Billed</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.billee_id %></td>
    <td><%= bill.total %></td>
    <td><%= bill.ordered %></td>
    <td><%= bill.billed %></td>
    <td><%= bill.paid %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
